header{
    width: 100%;
    min-height: 625px;
}

/*font family*/
.slogan{
    font-family:Cursive;
}

/*Navbar*/
.navbar .nav-link {
    color:white;
    margin-right: 29px;
    transition: 0.2s;

}

a.nav-link:hover {
    padding-bottom: 3px;
    border-bottom: 2px solid white;
}

.btn-custom {
    border: 1.5px solid #fff;
    border-radius: 50px;
    color: #fff;
    background: none;
    padding: 8px 20px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.6;

}

.btn-custom:hover {
    background: #0c3088;
    color: white;
    border: 1.5px solid #0c3088;
}

.navbar-fixed {
    background-color: #3A4AC5;
    padding-top :0;
    padding-bottom: 0;
    transition: all 0.6s;
    box-shadow: 0px 3px 16px 0px rgba(0,0,0,0.1);

}




/*     HEADER     */

/*degrade de fondo*/
.wave{
    position: relative;
    padding-top: 10rem;
    /*background: linear-gradient(90deg, #E12D2D 0%, #E4FB66 100%);*/
    /*background: linear-gradient(295deg, rgba(209,86,250,1) 0%, rgba(70,9,99,1) 100%);*/
    background: linear-gradient(295deg, #5bc6c0 0%, #0c3088 100%); 
    /*background: linear-gradient(295deg, rgba(0,10,77,1) 0%, rgba(35,104,228,1) 100%);*/
}

.wave:before {
   content: '';
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 216px;
   background: url(IMG/wave.png);
   background-size: cover;
   background-repeat: no-repeat;
}

.wave .marg {
    margin-top: 4px;
}


/* NOSTROS */


section {
    padding: 82px 0px;

}

.section-title {
    text-align: center;
    padding-bottom: 30px;

}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #3A4AC5;

}

/* ABOUT */

.member {
    padding: 30px;
    border-radius: 5px;
    background: #f9f9fd;
    transition: 0.5s;

}

.member:hover {
    box-shadow: 0px 15px 30px rgb(77 ,87 ,222, 0.6);  /*30%*/
    background: #fff;

}

.member h4{
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #3A4AC5;

}

.member .pic-vete {
    overflow: hidden;
    width: 380px;
    border-radius: 50%;

}


@media (max-width: 991px) {
    .member .pic-vete {
        overflow: hidden;
        width: 520px;
        border-radius: 50%;

    }
}

@media (max-width: 767px) {
    .member .pic-vete {
        overflow: hidden;
        width: 780px;
        border-radius: 50%;

    }
}


.member .pic {
    overflow: hidden;
    width: 230px;
    border-radius: 50%;

}

.member span {
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    font-weight: 500;

}

.member p {
    margin: 10px 0 0 0;
    font-size: 14px;

}

 .member a {
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 38px;
    height: 38px;
    border: 1px solid;

}

.member a:hover{
    background: #0c3088;
    border: 1px solid #3A4AC5;
}


/* SUCURSALES */

.member .img-cli {
    overflow: hidden;
    width: 230px;
    border-radius: 4%;

}






